* {
    primary-color: #9d201d;
}

.button {
	-fx-focus-color: primary-color;
	-fx-faint-focus-color: transparent;
	    -fx-background-radius: 3px;
	-fx-border-radius:3px;
	-fx-cursor: hand;
}

/*******************************************************************************
 *                                                                             *
 * tables                                             						*
 *                                                                             *
 ******************************************************************************/
.table-view .column-header .label{
	  -fx-alignment: CENTER-LEFT;
	  -fx-padding: 0 0 0 10;
}
.table-view .table-column {
	-fx-alignment: center-left;
	-fx-padding-left: 5;
}

/*******************************************************************************
 *                                                                             *
 * Button Scarica nuovi interventi                                             *
 *                                                                             *
 ******************************************************************************/
/*
.btn{
}

.btn:pressed, .btn:default:hover:pressed{
  -fx-background-color: black;
  -fx-text-fill: white;
}
*/

/*******************************************************************************
 *                                                                             *
 * Button dettagli interventi                                             *
 *                                                                             *
 ******************************************************************************/
#interventionTable .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent c7c7c7 transparent transparent;
}
#detailCol {
	 -fx-alignment: CENTER;
	 -fx-background-color: transparent;
	  -fx-border-color: transparent !important;
}

.dettagli{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/detail.png");
	-fx-background-repeat: stretch;   
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
}

.dettagli:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/detail2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
   	-fx-cursor: hand;

}
.dettagli:pressed, .dettagli:default:hover:pressed{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/detail2.png");
  	-fx-background-color: black;
  	-fx-border-color: black;

}


/*******************************************************************************
 *                                                                             *
 * Dettgli interventi sulla pagina della lista verbali                         *
 *                                                                             *
 ******************************************************************************/
.intDetail {
	-fx-font-weight: bold;
}


/*******************************************************************************
 *                                                                             *
 * stato intervento          										   *
 *                                                                             *
 ******************************************************************************/
.daCompilare {
	-fx-padding: 2 5 2 5;
	-fx-font-size: 7pt;
	-fx-text-fill: white; 
    -fx-background-color: red;
    -fx-background-radius: 3px;
	-fx-border-radius:3px;
	-fx-font-weight: bold;
}
.completo {
	-fx-padding: 2 5 2 5;
	-fx-font-size: 7pt;
	-fx-text-fill: white; 
    -fx-background-color: LIMEGREEN;
	-fx-background-radius: 3px;
	-fx-border-radius:3px;
	-fx-font-weight: bold;
	
}
.inLavorazione {
	-fx-padding: 2 5 2 5;
	-fx-font-size: 7pt;
	-fx-text-fill: white; 
    -fx-background-color: ORANGE;
	-fx-background-radius: 3px;
	-fx-border-radius:3px;
	-fx-font-weight: bold;
}
.inviato {
	-fx-padding: 2 5 2 5;
	-fx-font-size: 7pt;
	-fx-text-fill: white; 
    /*-fx-background-color: CONRFLOWERBLUE;*/
    -fx-background-color: BLUE;
	-fx-background-radius: 3px;
	-fx-border-radius:3px;
	-fx-font-weight: bold;
}


/*******************************************************************************
 *                                                                             *
 * Combo box per filtro stato          										   *
 *                                                                             *
 ******************************************************************************/

.combo-box{
	-fx-cursor: hand;
	-fx-focus-color: primary-color;
	-fx-faint-focus-color: transparent;
}
.combo-box .cell{
	-fx-cursor: hand;
}

/*******************************************************************************
 *                                                                             *
 * Button completa verbale                                            *
 *                                                                             *
 ******************************************************************************/
 #reportTable .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent c7c7c7 transparent transparent;
}

#completeCol {
	-fx-alignment: CENTER;
	-fx-background-color: transparent;
	-fx-border-color: transparent !important;
}

.completaVerbale{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/completa.png");
	-fx-background-repeat: stretch;   
    -fx-background-color: transparent;
    -fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-background-size: 30 30;
    -fx-background-position: center center;
}

.completaVerbale:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/completa2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
   	-fx-cursor: hand;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;

}
.completaVerbale:pressed, .completaVerbale:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;
}

/*******************************************************************************
 *                                                                             *
 * Button visualizza verbale                                            *
 *                                                                             *
 ******************************************************************************/
.showVerbale{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/show.png");
	-fx-background-repeat: stretch;   
    -fx-background-color: transparent;
    -fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-background-size: 30 30;
    -fx-background-position: center center;
}

.showVerbale:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/show2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
   	-fx-cursor: hand;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;

}
.showVerbale:pressed, .showVerbale:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;
}

/*******************************************************************************
 *                                                                             *
 * Button indietro                                            *
 *                                                                             *
 ******************************************************************************/

.back{  
    -fx-background-color: transparent;
}

.back:hover{
    -fx-background-size: 30 30;
    -fx-background-position: center center;

    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
   	-fx-cursor: hand;

}
.back:pressed, .back:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;

}

/*******************************************************************************
 *                                                                             *
 * Button nota                                            *
 *                                                                             *
 ******************************************************************************/

.nota:hover{
  	-fx-border-color: transparent;
   	-fx-cursor: hand;
}

/*******************************************************************************
 *                                                                             *
 * menu user                                           *
 *                                                                             *
 ******************************************************************************/
 .userMenu {
 	-fx-background-color: transparent;
 	-fx-cursor: hand;
 }
.userMenu .label{
	-fx-text-fill: white;
}
.userMenu .button{
	-fx-cursor: hand;
}
/*******************************************************************************
 *                                                                             *
 * button invia                                         *
 *                                                                             *
 ******************************************************************************/
#inviaCol {
	-fx-alignment: CENTER;
}
.invia{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/send.png");
	-fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
	-fx-cursor: hand;
}

.invia:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/send2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
   	

}
.invia:pressed, .invia:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;

}

/*******************************************************************************
 *                                                                             *
 * questionario                                         *
 *                                                                             *
 ******************************************************************************/
#reportBox {
	-fx-font-size: 12pt;
	-fx-background-color:white;
}

.footerQuestionario .combo-box .cell{
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
}

.step {
	-fx-font-size: 12pt;
}
.footerQuestionario .button {
		-fx-font-size: 10pt;
	-fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * button upload e show doc                                         *
 *                                                                             *
 ******************************************************************************/
.uploadDoc{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/attach.png");
	-fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
	-fx-cursor: hand;
}

.uploadDoc:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/attach2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
}
.uploadDoc:pressed, .uploadDoc:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;
}

.showDoc{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/apri.png");
	-fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
	-fx-cursor: hand;
}

.showDoc:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/apri2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
}
.showDoc:pressed, .showDoc:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;
}

.load{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/loader-ico.gif");
	-fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
}

.apriDoc{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/open.png");
	-fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
	-fx-cursor: hand;
}

.apriDoc:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/open2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
}
.apriDoc:pressed, .apriDoc:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;
}

.eliminaDoc{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/elimina.png");
	-fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 30px;
	-fx-border-radius:15px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-alignment: center;
	-fx-cursor: hand;
}

.eliminaDoc:hover{
	-fx-background-image: url("/it/ncsnetwork/EciDesktop/img/elimina2.png");
  	-fx-background-color: primary-color;
  	-fx-border-color: primary-color;
}
.eliminaDoc:pressed, .eliminaDoc:default:hover:pressed{
  	-fx-background-color: black;
  	-fx-border-color: black;
}

#uploadDocCol, #showDocCol, #showCol, #eliminaCol {
	-fx-alignment: CENTER;
}

