/*#detailCol {
    -fx-cursor: hand;
    -fx-text-fill: blue;
}*/

.table-view .column-header .label {
  -fx-text-alignment: center;
}

/*******************************************************************************
 *                                                                             *
 * Button Scarica nuovi interventi                                             *
 *                                                                             *
 ******************************************************************************/
.btn {
    -fx-border-color : transparent;
    -fx-background-color: #299bb4;
    -fx-text-fill: white;
}

.btn:hover {
    -fx-background-color: #699ca7;
    -fx-cursor: hand;
}
.btn:pressed, .btn:default:hover:pressed {
  -fx-background-color: black;
  -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Dettgli interventi sulla pagina della lista verbali                         *
 *                                                                             *
 ******************************************************************************/
.intDetail {
	-fx-font-weight: bold;
}

